/* .bannerBg{
  
    background-image: linear-gradient(
        to bottom,
        #002A5412 50%,
        #ED1B24 5%,
        #ED1B24 75%,
        #ED1B24 75%
    );
    height: 100%;

} */
.bannerBg{
  
  background-image: linear-gradient(
    to bottom,
    /* #a8dadc 0%, */
    #dce1e4 30%,
    #ED1B24 0%,
    #ED1B24 100%
);
height: 2;

}
